@import "../../../shared/mixin.scss";

.buttons {
  @include dFlex($gap: 15px);
  padding-top: 20px;

  @media (max-width: 500px) {
    padding-top: 0;
  }

  > button {
    border: 1px solid #ffffff;
    border-radius: 100px;
    background-color: #292929;
    padding: 15px 20px;
    cursor: pointer;
    @include dFlex($gap: 5px);

    > a {
      text-decoration: none;
      font-size: 18px;
      font-weight: 400;
      color: #ffffff;
    }

    > svg {
      transition: transform 0.3s ease;
    }

    &:hover {
      border: 1px solid #3dcfb6;

      > a {
        color: #3dcfb6;
      }

      > svg {
        transform: translate(5px, -2px);
      }
    }
  }
}

.close-icon {
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
  transition: transform 0.3s ease;

  @media (max-width: 500px) {
    top: 24px;
    right: 24px;
  }

  path {
    transition: fill 0.3s ease;
  }

  &:hover {
    transform: scale(1.3);

    path {
      fill: #3dcfb6;
    }
  }
}

.next-project {
  position: absolute;
  bottom: 32px;
  right: 32px;
  @include dFlex();
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #3dcfb6;

  > span {
    transition: color 0.3s ease;
  }

  > svg {
    transition: transform 0.3s ease;
  }

  &:hover {
    > span {
      color: #ffffff;
    }

    > svg {
      transform: translateX(5px);
    }
  }
}
