<section (click)="closeCard()">
    <div (click)="$event.stopPropagation()">
        <div class="description-container">
            <div>
                <span class="font-karla green-color f-size-128">{{ '0' + (index+1) }}</span>
                <br>
                <span class="font-firacode f-size-64">{{ projects[index].projectName }}</span>
            </div>
    
            <h2 class="green-color">What is this project about?</h2>
    
            <span>{{ projects[index].projectDescription }}</span>
    
            <div>Test test test test</div>
    
            <div>
                <button>GitHub</button>
                <button>Live Test</button>
            </div>
        </div>

        <div class="image-container">
            <img class="close" (click)="closeCard()" src="../../../../assets/img/close.png" alt="">

            <img src="../../../../assets/img/{{ projects[index].projectIMG }}" alt="Project Image">

            <div>
                <span>Next project</span>
                <img src="" alt="arrow">
            </div>
        </div>
    </div>
</section>