@import "../../../shared/mixin.scss";

section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  @include dFlex();

  > article {
    width: 70vw;
    padding: 92px 80px;
    @include dFlex($gap: 88px);
    background: linear-gradient(55deg, #1c1c1c 30%, #08463b 90%);
    border-radius: 30px;
    border: 1px solid #3dcfb6;
    position: relative;

    @media (max-width: 1500px) {
      width: 80vw;
      gap: 50px;
    }

    @media (max-width: 1300px) {
      gap: 20px;
    }

    @media (max-width: 1200px) {
      width: 90vw;
    }

    @media (max-width: 1000px) {
      gap: 0;
      padding: 75px 58px;
    }

    @media (max-width: 850px) {
      padding: 60px 32px 80px 32px;
    }

    @media (max-width: 400px) {
      padding: 60px 12px 80px 12px;
    }
  }
}

.description-container {
  @include dFlex($align: flex-start, $gap: 20px, $direction: column);

  > h2 {
    font-size: 24px;
    font-weight: 700;
  }
}

.skill-list {
  @include dFlex($justify: flex-start, $gap: 10px);
  flex-wrap: wrap;

  > div {
    @include dFlex($gap: 5px);
  }
}

.project-image {
  width: 520px;

  @media (max-width: 1100px) {
    width: 450px;
  }

  @media (max-width: 1000px) {
    display: none;
  }
}

.title-green {
  color: #3dcfb6;
  font-size: 128px;
  font-weight: 700;

  @media (max-width: 1000px) {
    font-size: 72px;
  }
}

.title-normal {
  font-size: 64px;
  font-weight: 700;

  @media (max-width: 1000px) {
    font-size: 56px;
  }
}
