@import "../../shared/mixin.scss";

section {
  @include dFlex($justify: space-evenly, $align: flex-start, $gap: 120px);
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 92px;
  overflow: hidden;

  @media (max-width: 1500px) {
    gap: 80px;
  }

  @media (max-width: 1300px) {
    gap: 40px;
  }

  @media (max-width: 1200px) {
    @include dFlex($gap: 64px, $direction: column);
  }

  @media (max-width: 1000px) {
    padding: 0 70px;
  }

  @media (max-width: 850px) {
    padding: 0 30px;
  }

  @media (max-width: 650px) {
    padding: 0 16px;
  }
}

.contact-container {
  @include dFlex($align: flex-start, $direction: column);
  flex: 1;

  > h2 {
    color: #3dcfb6;
    font-size: 24px;
    font-weight: 500;
  }

  > h1 {
    color: #3dcfb6;
    font-size: 64px;
    font-weight: 700;
    padding-bottom: 40px;
  }

  > span {
    color: #3dcfb6;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 16px;
  }

  > p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;

    .form-green {
      color: #3dcfb6;
    }
  }
}

.border-top {
  border-top: 1px solid #3dcfb680;
}

.error-message {
  color: #ec7b7b;
}
