<section class="font-karla">
    <div class="contact-container">
        <h2>Contact me</h2>

        <h1 class="font-firacode">
            Let's work
            <br>
            together
        </h1>

        <span class="font-firacode">Got a problem to solve?</span>

        <p>
            Contact me through this form, I am interested in hearing from you, knowing
            <br>
            your ideas and contributing to your projects with my work.
            <br>
            <br>
            Need a Frontend developer? <span>Let's talk!</span>
        </p>
    </div>

    <div class="form-container">
        <form action="">
            <div class="input-field border-top">
                <h2 class="font-firacode">What's your name?</h2>

                <input type="text" placeholder="Your name goes here">
            </div>

            <div class="input-field">
                <h2 class="font-firacode">What's your email?</h2>

                <input type="email" placeholder="youremail@email.com">
            </div>

            <div class="input-field">
                <h2 class="font-firacode">How can I help you?</h2>

                <textarea name="" id="" placeholder="Hello Lukas, I am interested in..."></textarea>
            </div>

            <p>
                <label class="checkboxItem">
                    <input type="checkbox" name="checkbox" class="checkbox">
                </label>
                <span>
                    I've read the
                    <a class="font-firacode" href="">privacy policy</a>
                    and agree to the processing of my data as outlined.
                </span>
            </p>

            <div class="btn-container">
                <button class="font-karla">
                    <span>Say Hello ;)</span>
                </button>
            </div>
        </form>
    </div>
</section>