<section class="font-karla">
    <div class="contact-container">
        <h2>{{ 'global.contactMe' | translate }}</h2>

        <h1 class="font-firacode" [innerHTML]="'form.title' | translate"></h1>

        <span class="font-firacode">{{ 'form.subtitle' | translate }}</span>

        <p>
            <span [innerHTML]="'form.text1' | translate"></span>
            <br>
            <br>
            <span>{{ 'form.text2' | translate }}</span>
            <span class="form-green">{{ 'global.letsTalk' | translate }}!</span>
        </p>
    </div>

    <div class="form-container">
        <form [formGroup]="contactData" (ngSubmit)="onSubmit()">
            <p class="input-field border-top">
                <label for="name" class="font-firacode">{{ 'form.q1' | translate }}</label>

                <input type="text" id="name" name="name" formControlName="name"
                    [placeholder]="'form.placeHolderText1' | translate" autocomplete="name">

                @if (contactData.get('name')?.invalid && contactData.get('name')?.touched) {
                <small class="error-message">Please call a Name.</small>
                }
            </p>

            <p class="input-field">
                <label for="email" class="font-firacode">{{ 'form.q2' | translate }}</label>

                <input type="email" id="email" name="email" formControlName="email"
                    [placeholder]="'form.placeHolderText2' | translate"
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" autocomplete="email">

                @if (contactData.get('email')?.invalid && contactData.get('email')?.touched) {
                <small class="error-message">Please enter a E-Mail.</small>
                }
            </p>

            <p class="input-field">
                <label for="message" class="font-firacode">{{ 'form.q3' | translate }}</label>

                <textarea id="message" name="message" formControlName="message"
                    [placeholder]="'form.placeHolderText3' | translate"></textarea>

                @if (contactData.get('message')?.invalid && contactData.get('message')?.touched) {
                <small class="error-message">Please enter a Message.</small>
                }
            </p>

            <p class="checkbox-container">
                <label class="privacy-section">
                    <label class="checkboxItem">
                        <input type="checkbox" name="checkbox" formControlName="privacyAccepted" class="checkbox">
                    </label>
                    <span>
                        {{ 'form.text3' | translate }}
                        <a class="font-firacode" [routerLink]="['/privacy']">{{ 'form.text4' | translate }}</a>
                        {{ 'form.text5' | translate }}
                    </span>
                </label>

                @if (contactData.get('privacyAccepted')?.invalid && contactData.get('privacyAccepted')?.touched) {
                <small class="error-message">Please confirm the privacy policy.</small>
                }
            </p>

            <p class="btn-container">
                <input type="submit" [disabled]="contactData.invalid" value="{{ 'form.btn' | translate }} ;)">
            </p>

            @if (submitted) {
                <app-message-confirmation class="message-dialog"></app-message-confirmation>
            }
        </form>
    </div>
</section>