<section class="font-karla">
    <div class="contact-container">
        <h2>{{ 'global.contactMe' | translate }}</h2>

        <h1 class="font-firacode" [innerHTML]="'form.title' | translate"></h1>

        <span class="font-firacode">{{ 'form.subtitle' | translate }}</span>

        <p>
            <span [innerHTML]="'form.text1' | translate"></span>
            <br>
            <br>
            <span>{{ 'form.text2' | translate }}</span>
            <span class="form-green">{{ 'global.letsTalk' | translate }}!</span>
        </p>
    </div>

    <div class="form-container">
        <form action="">
            <div class="input-field border-top">
                <h2 class="font-firacode">{{ 'form.q1' | translate }}</h2>

                <input type="text" [placeholder]="'form.placeHolderText1' | translate">
            </div>

            <div class="input-field">
                <h2 class="font-firacode">{{ 'form.q2' | translate }}</h2>

                <input type="email" [placeholder]="'form.placeHolderText2' | translate">
            </div>

            <div class="input-field">
                <h2 class="font-firacode">{{ 'form.q3' | translate }}</h2>

                <textarea name="" id="" [placeholder]="'form.placeHolderText3' | translate"></textarea>
            </div>

            <p>
                <label class="checkboxItem">
                    <input type="checkbox" name="checkbox" class="checkbox">
                </label>
                <span>
                    {{ 'form.text3' | translate }}
                    <a class="font-firacode" href="">{{ 'form.text4' | translate }}</a>
                    {{ 'form.text5' | translate }}
                </span>
            </p>

            <div class="btn-container">
                <button class="font-karla">
                    <span>{{ 'form.btn' | translate }} ;)</span>
                </button>
            </div>
        </form>
    </div>
</section>