@import "../mixin.scss";

header {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 0.6) 80%
  );

  >nav {
    @include dFlex($justify: space-between, $gap: 20px);
    max-width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 20px;
    padding: 40px 96px;
    overflow: hidden;

    @media (max-width: 1000px) {
      padding: 32px 32px;
    }
  
    @media (max-width: 550px) {
      padding: 32px 16px;
    }
  }
}

.menu-icon {
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    scale: 1.1;

    path {
      fill: #3dcfb6;
    }
  }
}

.burger-menu {
  position: fixed;
  right: 25px;
  left: 25px;
  top: 0;

  @media (max-width: 550px) {
    left: 16px;
    right: 16px;
  }
}
