@import "../../../shared/mixin.scss";

.strip {
  @include dFlex();
  height: 62px;
  backdrop-filter: blur(5.3px);
  background-color: #ffffff1f;
  overflow: hidden;

  > p {
    width: 100%;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    overflow: hidden;
  }
}
