@mixin dFlex($justify: center, $align: center, $gap: 0px, $direction: null) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;

  @if $direction !=null {
    flex-direction: $direction;
  }
}

@mixin scroll-left-keyframes {
  @keyframes scroll-left {
    0% {
      transform: translateX(130%);
    }
    100% {
      transform: translateX(-130%);
    }
  }
}

@mixin scroll-left-animation($duration: 5s, $timing-function: linear, $iteration-count: infinite) {
  @include scroll-left-keyframes;
  animation: scroll-left $duration $timing-function $iteration-count;
}