@import "../../shared/mixin.scss";

section {
  @include dFlex($justify: space-evenly, $gap: 90px, $align: flex-start);
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 112px 92px;
  overflow: hidden;

  @media (max-width: 1300px) {
    @include dFlex($gap: 90px, $direction: column-reverse);
    padding: 112px 180px;
  }

  @media (max-width: 1100px) {
    padding: 112px 120px;
  }

  @media (max-width: 1000px) {
    padding: 112px 70px;
  }

  @media (max-width: 850px) {
    padding: 100px 30px;
  }

  @media (max-width: 650px) {
    padding: 84px 16px;
  }
}

.about-me-container {
  @include dFlex($align: flex-start, $gap: 20px, $direction: column);
  color: #3dcfb6;
  font-size: 18px;
  font-weight: 400;

  > h2 {
    margin: 98px 0 0 0;
    font-size: 24px;
    font-weight: 500;

    @media (max-width: 1300px) {
      margin: 0;
    }
  }

  > article {
    @include dFlex($align: flex-start, $gap: 32px, $direction: column);
    border: 1px solid #3dcfb6;
    border-radius: 30px;
    background: #3dcfb61a;
    backdrop-filter: blur(4px);
    padding: 32px;
    max-width: 30vw;

    @media (max-width: 1300px) {
      max-width: 100%;
    }

    > h1 {
      font-size: 64px;
      font-weight: 700;
    }

    > span {
      display: block;
      color: #ffffff;
    }

    > div {
      @include dFlex($align: flex-start, $gap: 16px, $direction: column);

      > p {
        @include dFlex($align: flex-start, $gap: 24px);
      }
    }
  }
}

.icon {
  width: 33px;
  flex-shrink: 0;
}

.text {
  color: #ffffffcc;
  transition: color 0.2s ease;

  &:hover {
    color: #ffffff;
  }
}
