@import "../../shared/mixin.scss";

section {
  @include dFlex();
  height: 100vh;
  position: relative;
  background: linear-gradient(55deg, #1c1c1c 30%, #08463b 90%);
  overflow: hidden;

  > main {
    @include dFlex($direction: column);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    > h2 {
      font-size: 40px;
      font-weight: 400;
      color: #d9d9d9;
      text-align: center;

      @media (max-width: 650px) {
        font-size: 28px;
      }

      @media (max-width: 450px) {
        font-size: 18px;
      }
    }

    > h1 {
      font-size: 128px;
      font-weight: 700;
      color: #d9d9d9;
      text-align: center;

      @media (max-width: 650px) {
        font-size: 82px;
      }

      @media (max-width: 450px) {
        font-size: 42px;
      }
    }
  }
}

.btn-container {
  @include dFlex($gap: 48px);
  padding-top: 24px;
  overflow: hidden;

  @media (max-width: 550px) {
    @include dFlex($gap: 24px);
  }

  @media (max-width: 450px) {
    @include dFlex($gap: 24px, $direction: column);
  }
}

.info-strip {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  width: 101%;
  z-index: 5;
  transform: translateX(-50%) rotate(-2deg);
}
