@import "../../shared/mixin.scss";

section {
  height: 100vh;
  position: relative;
  background: linear-gradient(55deg, #1c1c1c 30%, #08463b 90%);
  overflow: hidden;

  > main {
    max-width: 1600px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    @include dFlex($direction: column);
    position: relative;

    > h2 {
      font-size: 40px;
      font-weight: 400;
      color: #d9d9d9;
      text-align: center;

      @media (max-width: 650px) {
        font-size: 28px;
      }

      @media (max-width: 450px) {
        font-size: 18px;
      }
    }

    > h1 {
      font-size: 128px;
      font-weight: 700;
      color: #d9d9d9;
      text-align: center;

      @media (max-width: 650px) {
        font-size: 82px;
      }

      @media (max-width: 450px) {
        font-size: 42px;
      }
    }
  }
}

.btn-container {
  @include dFlex($gap: 48px);
  padding-top: 24px;
  overflow: hidden;

  @media (max-width: 550px) {
    @include dFlex($gap: 24px);
  }

  @media (max-width: 450px) {
    @include dFlex($gap: 24px, $direction: column);
  }
}

.container {
  position: absolute;
  bottom: 0;
  @include dFlex($justify: start, $gap: 24px, $direction: column);
}

.link-container {
  @include dFlex($gap: 16px, $direction: column);

  > a {
    .hover-icon {
      transition: fill 0.3s ease;
    }

    &:hover {
      .hover-icon path {
        fill: #ffffff;
      }
    }
  }
}

.social-link {
  position: relative;
  transition: scale 0.2s ease;

  &::after {
    content: "";
    position: absolute;
    left: -15px;
    transform: translateY(-50%);
    top: 50%;
    width: 8px;
    height: 8px;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
  }

  &:hover {
    scale: 1.1;

    &::after {
      background-color: #6ad7bf;
    }
  }
}

.mail {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  transition: all 0.3s ease;

  &:hover {
    color: #3dcfb6;
    scale: 1.1;
  }
}

.line {
  width: 1px;
  background-color: #3dcfb6;
}

.left {
  left: 20%;

  @media (max-width: 2000px) {
    left: 15%;
  }

  @media (max-width: 1500px) {
    left: 10%;
  }

  @media (max-width: 650px) {
    left: 15px;
  }
}

.right {
  right: 20%;

  @media (max-width: 2000px) {
    right: 15%;
  }

  @media (max-width: 1500px) {
    right: 10%;
  }

  @media (max-width: 650px) {
    right: 15px;
  }
}

.info-strip {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  width: 101%;
  z-index: 5;
  transform: translateX(-50%) rotate(-3deg);
}
