<section>
    <div class="font-karla">
        <h1 class="font-firacode">Impressum</h1>

        <p>
            Jonas Stiefer
            <br />
            Fissg&auml;ssen 16
            <br />
            9940 Asselborn
        </p>

        <h2 class="font-firacode">Kontakt</h2>

        <p>
            Telefon: +352 621 764 561
            <br />
            E-Mail: connect&#64;jonas-stiefer.com
        </p>

        <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
    </div>
</section>