@import "../../shared/mixin.scss";

section {
  @include dFlex();
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 92px;

  @media (max-width: 1000px) {
    padding: 0 70px;
  }

  @media (max-width: 850px) {
    padding: 0 30px;
  }

  @media (max-width: 650px) {
    padding: 0 16px;
  }

  > div {
    max-width: 600px;
    width: 100%;
    border: 1px solid #3dcfb6;
    border-radius: 30px;
    padding: 56px;
    background: rgba(61, 207, 182, 0.1019607843);
    backdrop-filter: blur(4px);
    color: #ffffff;
    font-size: 18px;

    @media (max-width: 500px) {
      padding: 32px;
    }

    @media (max-width: 400px) {
      padding: 24px;
    }
  }
}

h1 {
  font-size: 64px;
  color: #3dcfb6;
  margin-bottom: 20px;

  @media (max-width: 800px) {
    font-size: 54px;
  }

  @media (max-width: 500px) {
    font-size: 44px;
  }

  @media (max-width: 400px) {
    font-size: 34px;
  }
}

h2 {
  font-size: 32px;
  color: #3dcfb6;
  margin-bottom: 15px;

  @media (max-width: 400px) {
    font-size: 28px;
  }
}

p {
  margin-left: 12px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #3dcfb6;
  transition: color 0.2s ease;

  &:hover {
    color: #ffffff;
  }
}

.headeline {
  @include dFlex($justify: space-between);

  > svg {
    cursor: pointer;

    path {
      transition: fill 0.3s ease;
    }

    &:hover path {
      fill: #3dcfb6;
    }
  }
}
