@import "../../shared/mixin.scss";

section {
  @include dFlex($align: flex-start, $gap: 20px, $direction: column);
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 96px;
  color: #ffffff;
  overflow: hidden;

  @media (max-width: 1000px) {
    padding: 0 70px;
  }

  @media (max-width: 850px) {
    padding: 0 30px;
  }

  @media (max-width: 650px) {
    padding: 0 16px;
  }

  > h2 {
    font-size: 24px;
    font-weight: 700;
    color: #3dcfb6;

    @media (max-width: 850px) {
      font-size: 18px;
    }
  }

  > h1 {
    padding-bottom: 21px;
    font-size: 64px;
    font-weight: 700;
    color: #3dcfb6;

    @media (max-width: 850px) {
      font-size: 56px;
    }
  }

  > span {
    padding-bottom: 21px;
    font-size: 18px;
    font-weight: 400;

    @media (max-width: 850px) {
      font-size: 16px;
    }
  }

  > ul {
    padding: 0;
    width: 100%;
  }
}

.poject-list {
  max-width: 800px;
}
