:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  transition: transform 0.3s ease-in-out;

  &.hidden {
    transform: translateY(-300%);
  }
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
