@import "../../mixin.scss";

.menu {
  @include dFlex($gap: 24px);

  @media (max-width: 1000px) {
    @include dFlex($gap: 24px, $direction: column-reverse);
    padding: 30px 0;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #3dcfb6;
    border-radius: 0 0 30px 30px;
    background-color: #08463b;
    overflow: hidden;
  }

  @media (max-width: 550px) {
    padding: 21px 0;
  }

  .link-container {
    @include dFlex($gap: 24px);

    @media (max-width: 1000px) {
      @include dFlex($gap: 24px, $direction: column);
    }

    > a {
      position: relative;
      text-decoration: none;
      color: #ffff;
      white-space: nowrap;
      transition: scale 0.2s ease;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
        width: 8px;
        height: 8px;
        background-color: transparent;
        border-radius: 50%;
        transition: background-color 0.2s ease;
      }

      &:hover {
        scale: 1.1;
        
        &::after {
          background-color: #6ad7bf;
        }
      }
      
    }
  }
}

.close-icon {
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    scale: 1.1;

    path {
      fill: #3dcfb6;
    }
  }
}
