@import "../../shared/mixin.scss";

:host {
  position: relative;
  display: block;
  overflow: visible;

  &::after {
    content: "";
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    aspect-ratio: 1;
    background: radial-gradient(#152925, #1c1c1c 70%);
    border-radius: 50%;
    z-index: -1;
  }
}

section {
  @include dFlex($justify: space-between, $align: flex-start, $gap: 80px);
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 92px 90px 92px;
  color: #3dcfb6;
  overflow: hidden;

  @media (max-width: 1300px) {
    @include dFlex($gap: 60px, $direction: column);
    padding: 30px 180px 90px 180px;
  }

  @media (max-width: 1100px) {
    padding: 30px 120px 90px 120px;
  }

  @media (max-width: 1000px) {
    padding: 30px 70px 90px 70px;
  }

  @media (max-width: 850px) {
    padding: 30px 30px 90px 30px;
  }

  @media (max-width: 650px) {
    padding: 30px 16px 90px 16px;
  }
}

.skills {
  @include dFlex($align: flex-start, $gap: 20px, $direction: column);

  > h2 {
    font-size: 24px;
    font-weight: 700;

    @media (max-width: 850px) {
      font-size: 18px;
    }
  }
}

.skill-set-container {
  @include dFlex($align: flex-start, $gap: 32px, $direction: column);
  border: 1px solid #3dcfb6;
  border-radius: 30px;
  background: #3dcfb61a;
  backdrop-filter: blur(4px);
  padding: 32px;
  width: 500px;

  @media (max-width: 1300px) {
    width: 100%;
  }

  @media (max-width: 400px) {
    padding: 18px;
  }

  > h1 {
    font-size: 64px;
    font-weight: 700;
    text-align: center;

    @media (max-width: 850px) {
      font-size: 56px;
    }

    @media (max-width: 500px) {
      font-size: 42px;
    }
  }

  > div {
    font-size: 18px;
    color: #ffffff;
    @include dFlex($align: flex-start, $gap: 32px, $direction: column);

    > span {
      display: block;
    }

    > div {
      @include dFlex($align: flex-start, $gap: 16px, $direction: column);

      > h2 {
        font-size: 24px;
        font-weight: 700;

        > span {
          color: #3dcfb6;
        }
      }
    }
  }

  > button {
    border: 1px solid #ffffff;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    background-color: #292929;
    padding: 10px 20px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: relative;
    z-index: 10;
    transition: all 0.2s ease;

    > span {
      display: inline-block;
    }

    &:hover {
      color: #3dcfb6;
      border-color: #3dcfb6;
    }

    &:hover > span {
      @include scroll-left-animation($duration: 2s);
    }
  }
}

.skill-container {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  @media (max-width: 1300px) {
    max-width: 100%;
    justify-content: center;
  }

  > div {
    width: 105px;
    height: 120px;
    @include dFlex($justify: flex-start, $gap: 8px, $direction: column);

    > img {
      transition: all 200ms ease-out;

      &:hover {
        scale: 1.1;
      }
    }

    > span {
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      color: #ffffff;
    }
  }
}
