<section>
    <div class="skills">
        <h2 class="font-karla">{{ 'skillSet.subtitle' | translate }}</h2>

        <article class="skill-set-container font-karla">
            <h1 class="font-firacode">{{ 'skillSet.title' | translate }}</h1>

            <p>
                <span>{{ 'skillSet.description' | translate }}</span>

                <span class="skill-set-text">
                    <h2 class="font-firacode">
                        {{ 'skillSet.q1' | translate }}
                        <span>{{ 'skillSet.q2' | translate }}</span>
                    </h2>

                    <span>{{ 'skillSet.a' | translate }}</span>
                </span>
            </p>

            <app-button [routerLink]="['/']" fragment="contact-me" [translationKey]="'global.letsTalk'"></app-button>
        </article>
    </div>

    <div class="font-firacode skill-container">
        @for (skill of skills; track skill.name) {
        <div>
            <img src="assets/img/{{ skill.img }}">
            <span>{{ skill.name }}</span>
        </div>
        }
    </div>
</section>