:host {
  position: relative;
  display: block;
  overflow: visible;

  &::after {
    content: "";
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    aspect-ratio: 1;
    background: radial-gradient(#152925, #1c1c1c 70%);
    border-radius: 50%;
    z-index: -1;
  }
}
