@import "../mixin.scss";

footer {
  @include dFlex($justify: space-between);
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 62px;
  overflow: hidden;
  position: relative;

  @media (max-width: 650px) {
    padding: 20px 24px 84px;
  }
}

.developer-container {
  @include dFlex($align: start, $gap: 10px, $direction: column);

  > span {
    color: #ffffff;
    font-size: 16px;
  }
}

.copyright-container {
  @media (max-width: 650px) {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
  }

  > span {
    color: #3dcfb6;
    font-size: 18px;
    width: 100%;
    white-space: nowrap;

    @media (max-width: 450px) {
      font-size: 16px;
    }
  }
}

.link-container {
  @include dFlex($align: flex-end, $gap: 5px, $direction: column);

  > a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #3dcfb6;
    }

    &::after {
      content: "";
      position: absolute;
      left: -15px;
      transform: translateY(-50%);
      top: 50%;
      width: 8px;
      height: 8px;
      background-color: transparent;
      border-radius: 50%;
      transition: background-color 0.3s ease-in-out;
    }

    &:hover::after {
      background-color: #6ad7bf;
    }
  }
}
