<footer class="font-karla">
    <div class="developer-container">
        <div>
            @switch (screenSize()) {
            @case ('large') {
            <app-full-logo [width]="132.14" [height]="48"></app-full-logo>
            }
            @default {
            <app-minimum-logo [width]="68" [height]="48"></app-minimum-logo>
            }

            }
        </div>
        <span>Web Developer</span>
        <span>Luxemburg Asselborn</span>
    </div>

    <div class="copyright-container">
        <span class="font-firacode">© Jonas Stiefer 2024</span>
    </div>

    <div class="link-container">
        <a href="">Github</a>
        <a href="">LinkedIn</a>
        <a href="">Email</a>
        <a href="">Legal Notice</a>
    </div>
</footer>