@import '../mixin.scss';

footer {
    @include dFlex($justify: space-around);
    padding: 64px 0;
}

.developer-section {
    @include dFlex($align: start, $gap: 10px, $direction: column);

    >span {
        color: #FFFFFF;
    }
}

.copyright-section {
    color: #3DCFB6;
}

.link-section {
    @include dFlex($align: start, $gap: 10px, $direction: column);

    >a {
        position: relative;
        text-decoration: none;
        color: #FFFFFF;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: #3DCFB6;
        }

        &::after {
            content: '';
            position: absolute;
            left: -15px;
            transform: translateY(-50%);
            top: 50%;
            width: 8px;
            height: 8px;
            background-color: transparent;
            border-radius: 50%;
            transition: background-color 0.3s ease-in-out;
        }

        &:hover::after {
            background-color: #6AD7BF;
        }
    }
}