<footer class="font-karla">
    <div class="developer-container">
        <div>
            @switch (screenSize()) {
            @case ('large') {
            <app-full-logo (click)="scrollToTop()" [width]="132.14" [height]="48"></app-full-logo>
            }
            @default {
            <app-minimum-logo (click)="scrollToTop()" [width]="68" [height]="48"></app-minimum-logo>
            }
            }
        </div>
        <span>Web Developer</span>
        <span>Luxemburg Asselborn</span>
    </div>

    <div class="copyright-container">
        <span class="font-firacode">© Jonas Stiefer 2025</span>
    </div>

    <div class="link-container">
        <a href="https://github.com/Jonas2134" target="_blank" rel="noopener noreferrer">Github</a>
        <a href="https://www.linkedin.com/in/jonas-stiefer-663b70252" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        <a href="mailto: connect@jonas-stiefer.com">Email</a>
        <a [routerLink]="['/imprint']">Legal Notice</a>
        <a [routerLink]="['/privacy']">Privacy Policy</a>
    </div>
</footer>